.page-container {
    display: flex;
    height: 100%;
    font-family: Arial, sans-serif;
    position: relative;
}

/* Sidebar */
.sidebar {
    width: 20%;
    background: #fff;
    border-right: 1px solid #ddd;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    border-top: 1px solid #ddd;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin: 15px 0;
    cursor: pointer;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

/* Products Section */
.products {
    margin-left: 20%;
    width: 80%;
    padding: 30px;
    /* overflow-y: scroll; */
    height: 100%;
    border-top: 1px solid #ddd;
    padding-bottom: 160px;
}

.products-heading h1 {
    font-family: "Poppins";
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 30px;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    row-gap: 150px;
}

.card {
    text-align: center;
    border-radius: 8px;
    height: 300px;
    position: relative;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.card h3 {
    margin: 10px 0 5px;
    font-size: 16px;
}

.card p {
    font-size: 14px;
    color: #555;
}

.card button {
    margin-top: 8px;
    padding: 8px 120px;
    border: none;
    background: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Poppins';
    position: absolute;
    left: 0;
}

@media (max-width:700px) {
    .sidebar {
        display: none;
    }

    .products {
        margin-left: 0;
        width: 100vw;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 130px;
    }

    .card {
        height: 200px;
    }

    .card button {
        padding: 8px 73px;
    }
    .products-heading h1{
        font-size: 22px;
        padding: 0;
        padding-bottom: 20px;
    }
}