.subscribe-container {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.subscribe-head h2 {
    font-size: 35px;
    text-align: center;
    font-family: "Poppins";
    padding: 10px;
}

.subscribe-head p {
    text-align: center;
    font-family: "Poppins";
}

.subscribe-inp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.inp input {
    width: 450px;
    height: 40px;
    font-family: "Poppins";
    border: 1px solid #ddd;
    outline: none;
    padding-left: 10px;

}

.btn button {
    padding: 8px 35px;
    background-color: black;
    color: white;
    font-family: "Poppins";
    cursor: pointer;
    transition: 0.3s ease;
    border: 1px solid black;
}

.btn button:hover {
    background-color: transparent;
    color: black;
}

@media (max-width:700px) {
    .subscribe-container {
        width: 100vw;
    }

    .subscribe-head h2 {
        font-size: 22px;
    }

    .subscribe-head p {
        font-size: small;
    }

    .inp input {
        width: 400px;
    }
}